
<footer>
    <div class="pull-right">
        &copy; 2022 -Inventory and Order Management - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    <div class="clearfix"></div>
</footer>